*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: black;

        input{
            padding: 5px 2px;
            border: none;
            outline:none;
            font-size: 1.1em;
        }
        button{
            padding:5px 10px ;
            border:none;
            background-color: red;
            color: white;
            font-size: 1.1em ;
        }
        .logo{
            color: red;
            font-weight: bold;
            font-size: 1.8em;
            text-transform: capitalize;

        }
        ul{
            cursor: pointer;
            list-style: none;         
            li{
                background-color: white;
                width: 30px;
                height: 4px;
                margin-bottom: 5px;

            }

            &:hover li:nth-child(2){
            opacity: 0;
            }
            
            &:hover li:nth-child(1){
                transform-origin: center;
                transform: rotateZ(-45deg) translateY(8px);
              }
              
            &:hover li:nth-child(3){
               transform-origin: center ;
               transform: rotateZ(43deg) translateX(-3px) translateY(-14px);
              }
        }
    }
}
.main{
    width:100%;
    background-color: #333;


    .container{
        display: flex;
        align-items:center;
        max-width: 1300Px;
        margin: 0px auto;
        padding: 60px;
        justify-content: space-around;
       flex-wrap: wrap;
        .box{
            width: calc((100% / 3) - 30px);
            border: 1px solid red;
            text-align: center;
            color:azure;
            gap: 20px;
            height: 350Px;
            margin-bottom: 20px;
            overflow-y: hidden;
            .image{
                width:100%;
                img{
                    width: 100%;
                }
            }
            p{
                height: 200px;
                padding: 0 5px;
                word-wrap:break-word;
                overflow:hidden;
            }
            h2{
                padding:10px;
            }
        }
    }
}