*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: black;

        input{
            padding: 5px 2px;
            border: none;
            outline:none;
            font-size: 1.1em;
        }
        button{
            padding:5px 10px ;
            border:none;
            background-color: red;
            color: white;
            font-size: 1.1em ;
        }
        .logo{
            color: red;
            font-weight: bold;
            font-size: 1.8em;
            text-transform: capitalize;

        }
        ul{
            cursor: pointer;
            list-style: none;         
            li{
                background-color: white;
                width: 30px;
                height: 4px;
                margin-bottom: 5px;

            }

            &:hover li:nth-child(2){
            opacity: 0;
            }
            
            &:hover li:nth-child(1){
                transform-origin: center;
                transform: rotateZ(-45deg) translateY(8px);
              }
              
            &:hover li:nth-child(3){
               transform-origin: center ;
               transform: rotateZ(43deg) translateX(-3px) translateY(-14px);
              }
        }
    }
}
.main{
    position:relative;
    width:100%;
    height: min-width(90vh);
    background-color: #333;
     .lodding{
          width: 100%;
          position: fixed;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #333;
          transition: 1s opacity;
          img{
              background-color: #333;
          }
         &.fade{
             opacity: 0;
         }
         &.fade.in{
             display: none;
         }
        }


    .container{
        display: flex;
        align-items:center;
        max-width: 1300Px;
        height: min-width(90vh);
        margin: 0px auto;
        padding: 60px;
        justify-content: space-around;
       flex-wrap: wrap;
        .box{
            position:relative;
            width: calc((100% / 3) - 30px);
            border: 1px solid red;
            text-align: center;
            color:azure;
            gap: 20px;
            height: 350Px;
            margin-bottom: 20px;
            overflow-y: hidden;
            
            &:hover p{
            transition:1s all;
            height:auto;
            }
            .image{
                border-bottom: 1px solid #f1f1f1;
                width:100%;
                img{
                    width: 100%;
                }
            }

            p{ 
                position:absolute;
                bottom:0;
                transition: .5s all;
                font-weight: 500;
                background-color: white;
                color:black;
                z-index: 999;
                height: 0;
                padding: 0 5px;
                word-wrap:break-word;
                overflow:hidden;
            }
            h2{
                padding:10px;
            }
        }
    }
}