*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
header{
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: black;

        input{
            padding: 5px 2px;
            border: none;
            outline:none;
            font-size: 1.1em;
        }
        button{
            padding:5px 10px ;
            border:none;
            background-color: red;
            color: white;
            font-size: 1.1em ;
        }
        .logo{
            color: red;
            font-weight: bold;
            font-size: 1.8em;
            text-transform: capitalize;

        }
        ul{
            cursor: pointer;
            list-style: none;         
            li{
                background-color: white;
                width: 30px;
                height: 4px;
                margin-bottom: 5px;

            }

            &:hover li:nth-child(2){
            opacity: 0;
            }
            
            &:hover li:nth-child(1){
                transform-origin: center;
                transform: rotateZ(-45deg) translateY(8px);
              }
              
            &:hover li:nth-child(3){
               transform-origin: center ;
               transform: rotateZ(43deg) translateX(-3px) translateY(-14px);
              }
        }
    }
}
.main{
    position:relative;
    width:100%;
    min-height:80vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     .lodding{
          width: 100%;
          position: fixed;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #333;
          transition: 1s opacity;
          img{
              background-color: #333;
          }
         &.fade{
             opacity: 0;
         }
         &.fade.in{
             display: none;
         }
        }


    .container{
        display: flex;
        align-items:center;
        max-width: 1300Px;
        height: min-width(90vh);
        margin: 0px auto;
        padding: 60px;
        flex-wrap: wrap;
        justify-content: space-around;
        .box{
            cursor:pointer;
            position:relative;
            border-radius: 5px;
            box-shadow:0px 0px 20px rgb(58, 16, 16);
            width: calc((100% / 3) - 30px);
            text-align: center;
            color:azure;
            gap: 20px;
            height: 350Px;
            margin-bottom: 20px;
            overflow-y: hidden;
            
            &:hover p{
            transition:1s all;
            height:auto;
            }
            .image{
                border-bottom: 1px solid #f1f1f1;
                min-width:100%;
                img{
                    width: 100%;
                }
            }
            p{ 
                position:absolute;
                bottom:0;
                display: none;
                transition: .5s all;
                font-weight: 500;
                background-color: white;
                color:black;
                z-index: 999;
                height: 0;
                padding: 0 5px;
                word-wrap:break-word;
                overflow:hidden;
            }
            h2{
                margin-top: 30px;
            }
        }
    }
    .pagination{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button{
            border:none;
            outline:none;
            padding: 10px 20px;
            font-size:1.2em;
            color: black;
            background-image:white;

            background-position: 0 200%;
            margin-right: 20px;
            margin-bottom: 40px;

            cursor: pointer;


        }
    }


    // details des films
  
}
.details{
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;

    .delate{
        padding: 10px;
        color: white;
        background: red;
        cursor: pointer;
        position: absolute;
        top:40px;
        right: 30px;
    }
     .content{
         display: grid;
         width: 500px;
         grid-template-rows: repeat(2,1fr);
         grid-template-columns: repeat(3,1fr);
      .image{
          grid-column: 1/span 3;
          grid-rows:1/1;
      }
      h2{
          grid-row: 2/2;
          grid-column: 1/2;
          padding: 20px 0;
      }
      p{
          grid-row: 2/2;
          padding: 20px 0;
          grid-column: 2/span 2;
      }
       
        }

}